.box1 {
  margin-top: 35px;
}

.box2 {
  margin-top: 20px;
}

.footer-user {
  margin-right: 50px;
  margin-top: 0px;
  font-weight: bolder;
}

.sidebar__logo {
  width: 80%;
  max-width: 300px;
  margin-right: 10px;
  object-fit: contain;
  margin-bottom: 0px;
}

.navbar {
  display: flex;
  width: 95%;
  justify-content: space-between;
  padding: 10px;
  padding-right: 0;
  margin-left: 30px;
}

.nav-link {
  margin-right: 20px;
  cursor: pointer;
  display: table-cell;
  position: relative;
}

.button {
  background-color: var(--primary-color);
  /* padding: 0px 20px; */
  border-radius: 4px;
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  .navbar {
    display: none;
  }
}

.nav-links {
  padding: 0;
  list-style: none;
  display: table;
  text-align: center;
}

.nav-link-a,
.active-link {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.nav-link-a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  background-color: var(--primary-color);
}

.active-link {
  color: var(--primary-color);
}

.nav-link-a:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}
