.list {
  width: 100%;
  height: 170px;
  position: relative;
}

.list-small {
  width: 100%;
  height: 30px;
  position: relative;
}

.list__view__container {
  height: 70%;
  overflow: hidden;
  border-radius: 2px;
}

.list__view {
  height: 95%;
  overflow: auto;
  background-color: var(--stroke-lighter-color);
  border-radius: 5px;
}

.list .button__container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -25px;
  margin-bottom: -20px;
}

.list__view__container div::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 2px;
}
