.admin {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  overflow: auto;
}

.views {
  width: 100%;
  overflow: auto;
}

@media screen and (max-width: 991px) {
  .views {
    width: 100%;
  }
}
