@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

/* :root {
  --bg-color: hsl(0, 0%, 0%);
  --sidebar-color: hsl(0, 0%, 15%);
  --stroke-color: hsl(0, 0%, 15%);
  --stroke-light-color: hsl(0, 0%, 13%);
  --stroke-lighter-color: hsl(0, 0%, 13%);
  --primary-color: #ff5487;
  --fill-color: hsl(0, 0%, 9%);
  --grey-color: #c6c5ca;
  --input-color: hsl(0, 0%, 15%);
} */

.test {
  background: hsl(266, 17%, 8%);
  background: hsl(266, 17%, 6%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 26px;
  margin-bottom: 15px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

button:focus,
input:focus {
  outline: none;
}

li {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.downArrow {
  position: fixed;
  bottom: 87%;
  left: 95.3%;
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
/* Demo Purpose Only*/
.demo {
  font-family: "Raleway", sans-serif;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}
.demo a {
  font-family: "Raleway", sans-serif;
  color: #2ecc71;
}

.box-title {
  text-align: left;
  margin-left: 10px;
}
