.sidebar {
  width: 20%;
  height: 100%;
  background-color: var(--sidebar-color);
  border-right: 2px solid var(--stroke-color);
  overflow: hidden;
}

.logo__container {
  display: flex;
  align-items: center;
  padding: 30px;
  margin-bottom: 20px;
}

.menu__item {
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  cursor: pointer;
}

.menu__icon {
  width: 35px;
  margin-right: 10px;
  object-fit: contain;
}

.active {
  font-weight: bold;
}

.sidebar__footer {
  display: flex;
  width: 20%;
  padding: 20px;
  position: absolute;
  bottom: 0;
  align-items: center;
}

.siderbar__footer {
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 991px) {
  .sidebar {
    display: none;
  }
}
